# KFUPM<br>College of Computer Science and Engineering<br>Computer Engineering Department<br>COE 449: Privacy Enhancing Technologies

Fall 2019 (191)

Assignment 2: Due date Thursday 26/10/

Student: **Faris Hijazi s201578750**

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

N_BINS = 10 # number of bins
epsilon = 0.1 # privacy budget E

In [2]:
data = pd.read_csv('ipums.csv')
data.head()

,Age,Gender,Marital,Race status,Birth place,Language,Occupation,Income (K)
0,33,1,6,2,1,1,10,144
1,40,2,4,1,1,1,6,830
2,21,2,6,1,1,1,3,992
3,39,1,4,1,1,1,6,673
4,55,2,4,1,1,1,10,470

In [5]:
df = data[['Age', 'Income (K)']]
df.head()

   Age  Income (K)
0   33         144
1   40         830
2   21         992
3   39         673
4   55         470

1. Divide equally to `k` clusters
2. For each cluster:
   - find `sum` of points, and the `num` (number of records)
   - find `centroids` $centroid = \frac{sum}{num}$
3. For each cluster: find $S_k$
     Add laplase noise to `sum` and `num`: $noise = Lap(\frac{\delta{f}}{ \sum_kt })$

In [21]:
# buckets/bins deltas (new vs old)
print('Age bin deltas:', age_hist_laplace - age_hist)
print()
print('Salary bin deltas:', salary_hist_laplace - salary_hist)

Age bin deltas: [ -5.19483814 -21.90559102 -19.27379443 -21.51569508 -11.06537617
   7.99750608  15.08609657  -2.61397685 -36.36093136 -13.91743756]

Salary bin deltas: [-0.11418419 31.42963447  5.40823898 17.81573584 21.2316597   4.37342763
 38.67691332 13.10542777 13.36646206 36.2452841 ]


## Submission

The due date of this assignment is 11:59PM 26/10/2019. Please upload
all files on the assignment page on BlackBoard. You need to submit the
following:

1. A brief report including your answers to Questions 1 and 2. In addition,
    the report should include the obtained differentially private histograms
    from Question 3, and a comparison with the original hostograms (without privacy). Explain and discuss, if any, the algorithmic optimizations
    you have used in your implementation. Discuss the experiences and
    lessons you have learned from the implementation.
2. A zip file that contains the PDF brief report, the source files of your code (in any language), and a README   explaining how to compile/run your program

## References

1. <https://people.eecs.berkeley.edu/~stephentu/writeups/6885-lec20-b.pdf>